header{
    width: 100%;
    min-width: 320px;
    height:auto;
    margin: 80px 0;
    background: $negro;
    display:grid;
    place-items: center ;
   
    .header-container{
        width: 200px;
        max-width: 200px;
        position: absolute;
        left: calc(50% -60px);
        display: flex;
        align-items: center;
        justify-content:center;
        z-index: 4;
        
        a{
            .logo-cv{
                width: 50px;
                height: 50px;
                display: inline-block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('/img/logo-lau.svg');
                cursor: pointer;
                transition: .3s ease-in;
            }
        }
        .logo-cv:hover, 
        .logo-cv:focus, .logo-cv:active{
            transform: rotate(360deg);
        }
        p{
            margin-left: 20px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1.2rem;
            letter-spacing: 2px;
            font-family: $fuente;
            color: $blanco;
            transition: transform .3s ease-in;
        }
    }
}

header p:hover, 
header p:focus, 
header p:active{
    color: $amarillo;
    transform: scale(0.9);
}
