main{
    width: 100%;
    min-width: 320;
    height: auto;
    margin: 0 0 40px 0;
    background: $negro;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $blanco;
    p{
        width: 320px;
        min-width: 320px;
        padding:   40px 10px;
        text-align: left;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.8rem;
        letter-spacing: 2px;
        .resaltado{
            background:$amarillo;
            color: $negro;
            font-size: 1.6rem;
        }
        .figma, .sass{
            width: 40px;
            height: 10px;
        }
    }
    .photo{
        text-align: center;
        transition: 2s ease-in forwards;
        .normal-mood{
            display: inline-block;
            width:320px;
            min-width: 320px;
            max-width: 938px;
            height: 320px;
            min-height: 320px;
            max-height: 938px;
            background-size: contain;
            background-image: url('/img/polaroid-1.png');
            background-position: center;
            background-repeat: no-repeat;
            visibility: visible;
        }
        .sunnymood{
            display: inline-block;
            width:320px;
            min-width: 320px;
            max-width: 938px;
            height: 320px;
            min-height: 320px;
            max-height: 938px;
            background-size: contain;
            background-image: url('/img/polaroid-2.png');
            background-position: center;
            background-repeat: no-repeat;
            visibility: hidden;
        }
    }
    .photo:hover, .photo:focus, .photo:active{
        .normal-mood{
            visibility: hidden;
        }
        .sunnymood{
            visibility: visible;
        }
    }
}

.main{
    opacity: 0;
}
