$negro:#212121;
$blanco:#ffffffb1;
$amarillo:#faf670;
$fuente:'Lato', sans-serif;
$fuente2:'Kaushan Script', cursive;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: $fuente;
}
::-webkit-scrollbar{
    display: none;
}
body{
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    background: $negro;
}
h1, h2, h3, p{
    letter-spacing: 4px;
}